<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <meta name="csrf-token" content="<%= csrfToken %>"/>
    <title><%= title %></title>
  </head>
  <body class="flex justify-center items-center">
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
          <p class="py-2">Welcome, This is Home page</p>
          <p class="py-2">
            New Here? <a href="/signup" class="text-green-600">Sign-Up now</a>
          </p>
          <p v>
            Already Have an Account?<a href="/login" class="text-green-600"
              >Sign-In now</a
            >
          </p>
      </div>
    </div>
  </body>
</html>