<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <meta name="csrf-token" content="<%= csrfToken %>"/>
    <link href="./css/styles.css" rel="stylesheet" />
    <title><%= title %></title>
  </head>
  <body class="bg-purple-50 min-h-screen flex justify-center items-center">
    <div class="bg-white p-8 rounded shadow-md text-center">
      <h6 class="text-xl font-bold text-purple-600 mb-6">Login to your account</h6>
      <form action="/session" method="POST">
        <input name="_csrf" type="hidden" value="<%= csrfToken %>">
        <div class="py-3 flex flex-col md:flex-row items-center"> <!-- Use flex-col for small screens and flex-row for medium and larger screens -->
          <label for="email" class="text-black-200 mb-2 md:mb-0 md:mr-4">Email:</label>
          <input type="email" name="email" class="border border-gray-300 rounded w-full p-2 text-gray-900 text-sm mb-2 md:mb-0 md:w-64">
        </div>
        <div class="py-3 flex flex-col md:flex-row items-center"> <!-- Use flex-col for small screens and flex-row for medium and larger screens -->
          <label for="password" class="text-black-200 mb-2 md:mb-0 md:mr-4">Password:</label>
          <input type="password" name="password" class="border border-gray-300 rounded w-full p-2 text-gray-900 text-sm md:w-64">
        </div>
        <div class="py-3">
          <button type="submit" class="bg-green-500 text-white rounded px-5 py-2 font-medium hover:bg-green-700 focus:outline-none focus:ring focus:border-green-300">
            Sign in
          </button>
        </div>
      </form>
      <% if(messages && messages.error && messages.error.length > 0)  { %>
        <% for(var i=0; i<messages.error.length; i++) { %>
          <li class="text-red-500"><%= messages.error[i] %></li>
        <% } %>
      <% } %>
    </div>
  </body>
</html>
